.email-setting-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid whitesmoke;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}